################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Labs/v16
/Lab2/x64/Debug
/x64/Debug
/.vs
/Lab8/x64/Debug
